
body{
  font-family: Arial;
  background:#0f0f1a;
  color:white;
  text-align:center;
}

#productGrid{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
  gap:15px;
  padding:20px;
}

.card{
  background:#1c1c2b;
  padding:10px;
  border-radius:12px;
}

.best{
  border:2px solid #00ff88;
}

.badge{
  color:#00ff88;
  font-weight:bold;
}
